.Payment label {
    font-size: 9px;
    color: black;
}

.payment-btn {
    left: 19px;
}

.imgs {
    position: absolute;
    left: 50px;
    top: 230px;
}

#newImg {
    width: 85.4px;
}


#payment_words {
    position: absolute;
    font-family: arial;
    font-size: 18px;
    letter-spacing: 0.3px;
    color: black;
    right: 60px;
    top: 160px;
}

.payment-filds {
    position: absolute;
    top: 340px;
    left: 50px;
}

.filds-creditNumber label, .filds-creditHolder label, .filds-id label .filds-year label, .filds-CVV label, .filds-month label {
    font-size: 9px;
    color: black;
    margin-top: 3px;

}

.filds-creditNumber, .filds-creditHolder, .filds-id .filds-year, .filds-month, .filds-CVV {
    margin-top: 10.5px;
    width: 50ch;
}

.filds-id label {
    margin-top: 15px;
    margin-top: 3px;
}

.filds-id {
    margin-top: 17px;
    width: 50ch;
}

.filds-month {
    margin-top: 15px;
    color: black;
    position: absolute;
    top: -13px;
    margin-left: 456px;
    width: 170px;
}

.filds-month label {
    margin-top: 3px;
}

.filds-year label {
    margin-top: 3px;
}

.filds-year {
    font-size: 9px;
    position: absolute;
    top: 2px;
    margin-left: 650px;
    width: 170px;
}

.filds-CVV {
    position: absolute;
    margin-left: 456px;
    top: 49.5px;
    width: 19.7ch;
}


.total_price {
    position: absolute;
    font-family: arial;
    font-size: 10.5px;
    left: 270px;
    top: 200px;
    width: 150px;
    margin-left: 500px;
}

.payment-Btn {
    position: absolute;
    font: optional;
    border: solid black;
    font-size: 12.5px;
    letter-spacing: 0.3px;
    color: white;
    background-color: black;
    width: 240px;
    height: 38px;
    top: 210px;
    margin-left: 880px;
}

.payment-Btn:hover {
    cursor: pointer;
    background-color: rgba(37, 35, 35, 0.945);
}

#newMessage {
    position: absolute;
    font-size: 13px;
    font-family: arial;
    color: red;
    top: -80px;
    right: -390px;

}

#noConect {
    position: absolute;
    font-size: 13.5px;
    font-family: arial;
    color: red;
    top: 132px;
    right: 500px;
}

@media(max-width: 900px) {
    .Payment label {
        font-size: 9px;
        color: black;
    }

    .payment-btn {
        left: 19px;
    }

    .imgs {
        position: absolute;
        left: 25px;
        top: 180px;
    }

    #newImg {
        width: 80px;
    }


    #payment_words {
        position: absolute;
        font-family: arial;
        font-size: 18px;
        letter-spacing: 0.3px;
        color: black;
        right: 30px;
        top: 90px;
    }

    .payment-filds {
        position: absolute;
        top: 260px;
        left: 25px;
    }

    .filds-creditNumber label, .filds-creditHolder label, .filds-id label .filds-year label, .filds-CVV label, .filds-month label {
        font-size: 9px;
        color: black;
        margin-top: 3px;

    }

    .filds-creditNumber, .filds-creditHolder, .filds-id .filds-year, .filds-month, .filds-CVV {
        margin-top: 10.5px;
        width: 36.8ch;
    }

    .filds-id label {
        margin-top: 15px;
        margin-top: 3px;
    }

    .filds-id {
        margin-top: 117px;
        width: 36.8ch;
    }

    .filds-month {
        margin-top: 15px;
        color: black;
        position: absolute;
        top: 87px;
        margin-left: 0px;
        width: 17.15ch;
    }

    .filds-month label {
        margin-top: 3px;
    }

    .filds-year label {
        margin-top: 3px;
    }

    .filds-year {
        font-size: 9px;
        position: absolute;
        top: 102px;
        margin-left: 170px;
        width: 30ch;
    }

    .filds-CVV {
        position: absolute;
        margin-left: 0px;
        top: 150px;
    }


    .total_price {
        position: absolute;
        font-family: arial;
        font-size: 11.5px;
        left: 150px;
        top: 300px;
        width: 150px;
        margin-left: 0px;
    }

    .payment-Btn {
        position: absolute;
        font: optional;
        border: solid black;
        font-size: 12.5px;
        letter-spacing: 0.3px;
        color: white;
        background-color: black;
        width: 240px;
        height: 38px;
        top: 340px;
        margin-left: 50px;
    }

    .payment-Btn:hover {
        cursor: pointer;
        background-color: rgba(37, 35, 35, 0.945);
    }

    #newMessage {
        position: absolute;
        font-size: 13px;
        font-family: arial;
        color: red;
        top: -132px;
        right: 0px;
    }

    #noConect {
        position: absolute;
        font-size: 13.5px;
        font-family: arial;
        color: red;
        top: 132px;
        right: 60px;
    }
}